<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">

    <xacro:include filename="$(find prisma_rover_description)/urdf/rover_macro.xacro"/>
    <xacro:include filename="$(find prisma_rover_description)/urdf/utilities.xacro"/>

    <!-- Launch Arguments -->
    <xacro:arg name="namespace" default=""/>
    <xacro:arg name="camera" default="true"/>
    <xacro:arg name="lidar_type" default="3d"/>

    <!-- Base footprint at ground level -->
    <link name="base_footprint"/>

    <!-- Setup structural links and base joint -->
    <xacro:rover_base_frame parent_link="base_footprint"/>

    <!-- Wheels Description (needed for physical visualization via real /joint_states) -->
    <xacro:rover_wheels/>

    <!-- IMU Link and Joint (Hardware config) -->
    <link name="imu_link"/>
    <joint name="imu_to_payload" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Physical Sensors Configuration -->
    <!-- Conditionally load Lidar type -->
    <xacro:if value="${'$(arg lidar_type)' == '2d'}">
        <xacro:lidar_description laser_frame="laser_link"/>
    </xacro:if>
    <xacro:if value="${'$(arg lidar_type)' == '3d'}">
        <xacro:livox_mid360_description laser_frame="laser_link"/>
    </xacro:if>

    <!-- Conditionally instantiate the camera -->
    <xacro:if value="$(arg camera)">
        <xacro:camera_description/>
    </xacro:if>

</robot>

